<head> 
	<title>ADVENTURE PAGE</title>
</head>

<center><h1 class="title_display">Listing of Adventures!</h1></center>
<body><center>
<table>
  <thead>
    <tr>
	<br><br><br>
      <th id="titles">Summary</th>
      <th id="titles">Details</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.summary %></td>
        <td><%= adventure.details %></td>
        <td><%= link_to 'Show', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></center>

<br>

<center><%= link_to 'New Adventure', new_adventure_path %></center>
</body>
