<p id="notice"><%= notice %></p>
<div class="display_box">
<p>
   Likes: <%= @adventure.likes %>
   <% cookies[:likes] ||= ActiveSupport::JSON.encode([]) %>
   <% likeStat = (ActiveSupport::JSON.decode(cookies[:likes]).include? (params[:id])) ? "Unlike" : "Like" %>
   <%= button_to "#{likeStat}", {:action => "like", :id => @adventure.id} , :method => :put %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @adventure.summary %>
</p>

<p>
  <strong>Details:</strong>
  <%= @adventure.details %>
</p>

<p>
<!--<%= link_to 'Edit', edit_adventure_path(@adventure) %> |-->
<%= link_to 'Back', home_path %>
</p>
</div>
